
#about-me {
    background-color: rgba(46, 45, 45, 0.3);
   
}

#content1 {
    background: url(assets/karl-pawlowicz-QUHuwyNgSA0-unsplash.jpg);
    background-size: cover;

}

#navbar1, .card-content {
    background-color: rgb(46, 45, 45);
}

#intro{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(249, 249, 252, 0.7 ); /* Black w/opacity/see-through */
    width: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#about-me-sec, #picture {
    background-color: rgb(26, 26, 26);
}
#project-sec {
    background-color: lightgray;
}

html{
    scroll-behavior: smooth;
}

.footer {
    background-color: rgb(46, 45, 45);
}